active-tab-border-width = 6px

.tab-icon
  padding: 0
  width: 35px
  height: 35px

.tab-item
  &.active
    border-bottom-width active-tab-border-width

.content
  padding-top 1em
////////////////////////////////////////////////////////////////////////
// signin screen
#signin
  margin-top: 1em

////////////////////////////////////////////////////////////////////////
// signup screen
#signup
  margin-top 1em

#via-or,
#via-social
  text-align: center

#via-or
  margin 3em 0 1em


#step-count
  text-align: center
  width 200px
  left: 50%
  margin-left -100px
  position: absolute
  bottom: 11em

[class*='choice-']
  -webkit-box-sizing: border-box
  position absolute
  bottom 0
  width: 50%
  padding: 4em 0.2em
  
  strong
    display block

.choices
  -webkit-box-sizing: border-box
  position absolute
  bottom 10px
  width 100%

  .heading-page
    -webkit-box-sizing border-box
    position absolute
    top -11em
    width 95%
    padding 10px
    text-align center

.choice-positive
  left: 50%

#home,
#craving,
.onboarding
  height 100%

.onboarding
  .heading-page
    top: -10em

#home-stats
  text-align: center
  .heading-page
    margin-bottom: 1em

#map
  height: 210px

#social
  margin-top 2em