.tab-item
  a
    display: block
    height: 100%
    color: color-light
  
.tab-icon
  position: static !important
  padding: 0
  width: 35px
  height: 35px
  font-size: 2em

.input-row 
  label
    width: 50%

  label + input
    width: 40%