color-light  = #fffffa
color-dark   = #2d2d29
color-border = lighten(color-dark, 80%)
color-meta   = lighten(color-dark, 30%)
color-hot    = #fa7c07
color-cold   = #21b9d9
color-fb     = #3b5998
color-tw     = #0094C2


tk-text      ="proxima-nova"
tk-heading   = "proxima-nova"

font-text    = tk-text, "helvetica neue", Arial, sans-serif
font-heading = tk-heading, "helvetica", Arial, sans-serif
