color-light  = #fffffa

tk-text      ="proxima-nova"
tk-heading   = "proxima-nova"

font-text    = tk-text, "helvetica neue", Arial, sans-serif
font-heading = tk-heading, "helvetica", Arial, sans-serif
