p
  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse ut purus. Suspendisse tristique. Cras et sem at odio porttitor mattis. Donec dignissim ornare tortor. Donec lectus turpis, tempor id, cursus vitae,
p  
  form
    .input-group
      .input-row
        label Cigarettes smoked per day
        input(type='text', placeholder='')
      .input-row
        label Cost per pack
        input(type='text', placeholder='')
      .input-row
        label Date Quit
        input(type='date', placeholder='')
  a.button-main(href='/onboarding/2', data-transition='slide-in') next