mixin onboarding(step)
  case step
    
    when 1
      .content-padded
        h2.heading-page Entering this data will allow Spyre to track your progress over time.
        p  
          form
            .input-group
              input(type='text', placeholder='Cigarettes smoked per day')
              input(type='text', placeholder='Cost per pack')
              input(type='text', placeholder='Date quit (mm/dd/yy)')
          a.button-main.button-block(href='/onboarding/2', data-transition='slide-in') next
    
    when 2
      .choices
        .content-padded
          h2.heading-page When you go on vacation, do you&hellip;
        a.choice-negative(href='/onboarding/3', data-transition='slide-in') have a plan
        a.choice-positive(href='/onboarding/3', data-transition='slide-in') wing it

    when 3
      .choices
        .content-padded
          h2.heading-page In school, do you like
        a.choice-negative(href='/onboarding/4', data-transition='slide-in') science class
        a.choice-positive(href='/onboarding/4', data-transition='slide-in') art class

    when 4
      .choices
        .content-padded
          h2.heading-page In general, do you&hellip;
        a.choice-negative(href='/onboarding/5', data-transition='slide-in') seek the absolute truth
        a.choice-positive(href='/onboarding/5', data-transition='slide-in') empathize with others

    when 5
      .content-padded
        h2.heading-page How long after you wake up do you have your first cigarette?
        input(type='number', placeholder='')
        a.button-main.button-block(href='/home', data-transition='slide-in') done