extends layouts/base

block bar-title-center
  h1.title= title

block content
  .content-padded
    #craving
      h1 Oh no!
      p Mistakes happen to everyone. Don't let it get you down. Next time you get a craving, try distracting yourself or talking to a sympathetic friend. Most importantly, don't let one slip-up ruin your progress.

      #social
        h1 Ask your friends for support
        p 
          a.button-main(href='') twitter
          br
          a.button-main(href='') facebook

