extends layouts/base

block bar-title-left
  a.button-back(href='/home', data-transition='slide-out')
    i.icon-chevron-left

block bar-title-center
  h1.title= title

block content
  #craving
    .content-padded
      h2.heading-page Try breathing deeply for a couple minutes
      p.tips It sounds cheesy, but it actually helps. Deep breathing helps expand the lungs, increase oxygen in the blood, and promotes relaxation.

    #decision
      .choices
        h3.heading-page Now you have a decision to make
        .choice-negative
          a(href='/craving_smoke', data-transition='slide-in')
            p I can't do it!
              strong Smoke!

        .choice-positive
          a(href='/craving_not_smoke', data-transition='slide-in') 
            p I got this!
              strong Don't smoke!