extends layouts/base

block bar-title-center
  h1.title= title

block content
  .content-padded
    #craving
      h1 craving
      h2 Try breathing deeply for a couple minutes
      p It sounds cheesy, but it actually helps. Deep breathing helps expand the lungs, increase oxygen in the blood, and promotes relaxation.

      #craving-or-distraction
        h1 Now you have a decision to make
        p I can't do it
          a.button-main(href='/craving_smoke', data-transition='slide-in') smoke

        p I got this
          a.button-main(href='/craving_not_smoke', data-transition='slide-in') don't smoke

