extends layouts/base

block bar-title-center
  h1.title= title

block content
  #craving.craving-smoke
    .content-padded
      h2.heading-page Oh no!
      p Mistakes happen to everyone. Don't let it get you down. Next time you get a craving, try distracting yourself or talking to a sympathetic friend. Most importantly, don't let one slip-up ruin your progress.

      #social
        h3.heading-page Ask your friends for support
        #via-social
          a#via-fb(href='')
            i.icon-facebook-sign
            | &nbsp; via Facebook
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a#via-tw(href='')
            i.icon-twitter-sign
            | &nbsp; via Twitter