extends layouts/base

block bar-title-center
  h1.title= title

block content
  .content-padded
    #craving
      h1 Congratulations!
      p Every cigarette avoided is a great accomplishment. It's tough to avoid a craving when you're in the moment, but it gets easier every time. Keep up the good work!

      #social
        h1 Tell your friends
        p 
          a.button-main(href='') twitter
          br
          a.button-main(href='') facebook

