extends layouts/base

block bar-title-center
  h1.title= title

block content
  #distraction
    .content-padded
      h2.heading-page Need a quick distraction? Try the suggestions below
      ul.list
        li Take a walk around the block 
        li Do a crossword puzzle
        li Chat with a friend
        li 
          a(href='#') 
            | More suggestions
            span.count 10+