extends layouts/base

block bar-title-center
  h1.title= title

block content
  .content-padded
    #distraction
      h1 Need a quick distraction? Try the suggestions below
      ul
        li take a walk around the block 
        li do a crossword puzzle
        li chat with a friend
      
      a(href='') More suggestions