extends layouts/base

block bar-title-center
  h1.title= title

block bar-tab-inner
  li.tab-item.active
    a(href='/home', data-transition='fade')
      i.tab-icon.icon-home
  li.tab-item
    a(href='/stats', data-transition='fade')
      i.tab-icon.icon-bar-chart
  li.tab-item
    a(href='/settings', data-transition='fade')
      i.tab-icon.icon-cog

block content
  .content-padded
    #home
      h1 you haven't smoked in
      p ____ days, which saved you
      p ____ dollars and added
      p ____ minutes to your life!

      #craving-or-distraction
        p I'm having a
          a.button-main(href='/craving', data-transition='slide-in') craving

        p I need a 
          a.button-main(href='/distraction', data-transition='slide-in') distraction

