extends layouts/base

block bar-title-center
  h1.title= title

block bar-tab-inner
  mixin bar-tab('home')

block content
  #home
    .content-padded
      #home-stats
        h2.heading-page 
          | You haven't smoked in
          br
          | ____ days, which saved you
          br
          | ____ dollars and added
          br
          | ____ minutes to your life!

    #craving-or-distraction
      .choice-negative 
        a(href='/craving', data-transition='slide-in') 
          p I'm having a 
            strong craving

      .choice-positive 
        a(href='/distraction', data-transition='slide-in') 
          p I need a 
            strong distraction