extends layouts/base

block bar-title-center
  h1.title= title

block content
  .content-padded
    #home
      h1 you haven't smoked in
      p ____ days, which saved you
      p ____ dollars and added
      p ____ minutes to your life!

      #craving-or-distraction
        p I'm having a
          a.button-main(href='/craving') craving

        p I need a 
          a.button-main(href='/distraction') distraction

