extends layouts/base

block bar-title-center
  h1.title= title

block bar-title-left
  if step != 1 
    - lastStep = step - 1
    a.button.button-back(href='/onboarding/#{lastStep}', data-transition='slide-out') Back

//- no bar tab on signup page
block bar-tab

block content
  .onboarding(id='onboarding#{step}')
    .content-padded      
      case step
        when 1
          include partials/_onboarding_1
        when 2
          include partials/_onboarding_2
        when 3
          include partials/_onboarding_3
        when 4
          include partials/_onboarding_4
        when 5
          include partials/_onboarding_5