extends layout

block bar-title-center
  h1.title= title

//- no bar tab on signup page
block bar-tab

block content
  #signup-step2
    .content-padded
      .slider
        ul
          li
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse ut purus. Suspendisse tristique. Cras et sem at odio porttitor mattis. Donec dignissim ornare tortor. Donec lectus turpis, tempor id, cursus vitae,
            p  
            form
              .input-group
                .input-row
                  label Cigarettes smoked per day
                  input(type='text', placeholder='')
                .input-row
                  label Cost per pack
                  input(type='text', placeholder='')
                .input-row
                  label Date Quit
                  input(type='date', placeholder='')
            a.button-main(href='/home') next
          li
            p when you go on vacation, do you:
            a.button-main have a plan
            a.button-main wing it
          li
            p in school, do you like
            a.button-main science class
            a.button-main art class
          li
            p in general, do you
            a.button-main look for the truth
            a.button-main empathize with others
          li
            p how long after wake up do you have your fist cigarettes?
            input(type='text', placeholder='')
            a.button-main(href='/home') done