extends layouts/base

block bar-title-center
  h1.title= title

block bar-title-right
  a.button(href='/signup', data-transition='slide-out') Sign out

block bar-tab-inner
  mixin bar-tab('settings')

block content
  #stats
    .content-padded
      h1 Settings
      ul.list
        li Push Notification
          .toggle.active
            .toggle-handle
        li Location
          .toggle.active
            .toggle-handle
        li Facebook (connected)
          a.button-main Unlink
        li Twitter (connected)
          a.button-main Unlink

      p
        a(href='') Privacy Policy
        br
        a(href='') Terms of Service
        br