extends layouts/base

block bar-title-center
  h1.title= title

block content
  #stats
    .content-padded
      h1 Settings
      ul.list
        li Push Notification
          .toggle.active
            .toggle-handle
        li Location
          .toggle.active
            .toggle-handle
        li Facebook (connected)
          a.button-main unlink
        li Twitter (connected)
          a.button-main unlink