extends layouts/base

block bar-title-center
  h1.title= title

block bar-tab-inner
  mixin bar-tab('settings')

block content
  #stats
    .content-padded
      ul.list
        li Facebook (connected)
          a.button-main Unlink
        li Twitter (connected)
          a.button-main Unlink
        li Location
          .toggle.active
            .toggle-handle
        li Push Notification
          .toggle.active
            .toggle-handle
        li Sign out
          a.button-main(href='/signup', data-transition='slide-out') Sign out
        
      p
        a(href='#') Privacy Policy
        | &nbsp; | &nbsp;
        a(href='#') Terms of Service