extends layouts/base

block bar-title-center
  h1.title= title

block bar-title-right
  a.button(href='/signin', data-transition='slide-in') Sign in

//- no bar tab on signup page
block bar-tab

block content
  #signup-step1
    .content-padded
      #signup
        h1 Sign up
        #via-social
          a.button(href='/onboarding/1') via Facebook
          | &nbsp;
          a.button(href='/onboarding/1') via Twitter
        #via-email
          #via-or or with your email
          form
            input(type='text', placeholder='email')
            input(type='password', placeholder='and password')
            input(type='password', placeholder='confirm password')
            a.button.button-block(href='/onboarding/1', data-transition='slide-in') Sign up