extends layouts/base

block bar-title-center
  h1.title= title

block bar-title-right
  a.button(href='/signin', data-transition='slide-in') Sign in

//- no bar tab on signup page
block bar-tab

block content
  #signup
    .content-padded
      h1.heading-page Sign up
      #via-social
        a#via-fb(href='/onboarding/1')
          i.icon-facebook-sign
          | &nbsp; via Facebook
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a#via-tw(href='/onboarding/1')
          i.icon-twitter-sign
          | &nbsp; via Twitter
      #via-or or with your email
      #via-email
        form.input-group
          input(type='text', placeholder='email')
          input(type='password', placeholder='and password')
          input(type='password', placeholder='confirm password')
        a.button-block.button-main(href='/onboarding/1', data-transition='slide-in') Sign up