extends layouts/base

block bar-title-center
  h1.title= title

block bar-tab-inner
  mixin bar-tab('stats')

block content
  #stats
    #charts
      img(src='/img/charts.png', width="100%", height="auto")
    #map