extends layouts/base

block bar-title-center
  h1.title= title

block bar-tab-inner
  li.tab-item
    a(href='/home', data-transition='fade')
      i.tab-icon.icon-home
  li.tab-item.active
    a(href='/stats', data-transition='fade')
      i.tab-icon.icon-bar-chart
  li.tab-item
    a(href='/settings', data-transition='fade')
      i.tab-icon.icon-cog

block content
  #stats
    .content-padded
      h1 Stats