extends layouts/base

block bar-title-center
  h1.title= title

block bar-tab-inner
  mixin bar-tab('stats')

block content
  #stats
    .content-padded
      h2.heading-page some charts will appear here, along with a mini map