* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}


.content-padded{
  h1{
    font-size: 2em;
    line-height: 1.5em;
  }
}

#signup{
  // text-align: center;

  h1{
    margin: 0 0 0.2em;
    font-size: 2em;
    text-align: center;
  }
}

#via-or{
  margin: 1em auto;
}