
/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/main.styl */
@import "http://cdn.leafletjs.com/leaflet-0.4/leaflet.css";

/* line 2 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/main.styl */
@import "font-awesome.css";

/* line 3 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/main.styl */
@import "ratchet.css";

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_var.styl */

/* line 16 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */

/* line 2 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */
.tab-item a {
  display: block;
  height: 100%;
}

/* line 6 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */
.tab-icon {
  position: static !important;
}

/* line 9 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */
.list li {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 13 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */
.list li > a:not([class*="button"]) {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 16 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: text;
  -webkit-overflow-scrolling: touch;
}

/* line 9 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova", "helvetica neue", Arial, sans-serif;
  font-size: 100%;
  opacity: 0;
}

/* line 15 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
a {
  color: #fa7c07;
  text-decoration: none;
}

/* line 20 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */

/* line 21 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
.wf-active body,
.wf-inactive body {
  -webkit-transition: opacity 0.3s linear;
  opacity: 1;
}

/* line 25 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

/* line 28 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
h1.heading-page {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

/* line 33 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
h2.heading-page {
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.5em;
}

/* line 38 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
h3.heading-page {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* line 43 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */

/* line 44 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
.input-row label {
  font-weight: normal;
}

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */

/* line 3 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
.tab-icon {
  padding: 0;
  width: 35px;
  height: 35px;
}

/* line 8 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */

/* line 9 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
.tab-item.active {
  border-top-width: 6px;
  top: -3px;
}

/* line 13 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
.content {
  padding-top: 1em;
}

/* line 17 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#signin {
  margin-top: 1em;
}

/* line 22 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#signup {
  margin-top: 1em;
}

/* line 25 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#via-or,
#via-social {
  text-align: center;
}

/* line 28 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#via-or {
  margin: 3em 0 1em;
}

/* line 32 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#step-count {
  text-align: center;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  bottom: 1em;
}

/* line 40 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
[class*='choice-'] {
  box-sizing: border-box;
  position: absolute;
  width: 50%;
  padding: 2em 0.2em;
}

/* line 46 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
[class*='choice-'] strong {
  display: block;
}

/* line 49 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#home-stats {
  text-align: center;
}

/* line 51 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#home-stats .heading-page {
  margin-bottom: 1em;
}

/* line 54 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#map {
  height: 210px;
}

/* line 57 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_layout.styl */
#social {
  margin-top: 2em;
}

/* line 59 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
[class*="button"] {
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  background-color: #f97b06;
  border: 1px solid #e5e5e5;
  background-image: -webkit-linear-gradient(90deg, #f1f1f1 0%, #fffff9 100%);
  text-transform: capitalize;
  box-shadow: none;
}

/* line 10 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.bar-title [class*="button"],
.button-main {
  background-color: #3ba1a1;
  border: 1px solid #1b9fbb;
  background-image: -webkit-linear-gradient(90deg, #1ba5c7 0%, #21b9d9 100%);
}

/* line 16 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.button-hot {
  color: #fffffa;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background-color: #f97b06 !important;
  border: 1px solid #e18209 !important;
  background-image: -webkit-linear-gradient(90deg, rgba(247,128,10,0.7) 0%, rgba(248,155,11,0.7) 100%) !important;
}

/* line 23 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
[class*="count"] {
  -webkit-border-radius: 1px;
  margin-right: 0.5em;
}

/* line 27 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.bar-title {
  background: none;
  border-bottom: solid 1px #d7d7d3;
  z-index: 1;
}

/* line 32 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.bar-title .title {
  color: #2d2d29;
  text-shadow: none;
  font-size: 4em;
}

/* line 37 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.bar-title .button-back {
  font-size: 1.5em;
  padding: 0.3em 0.5em 0.2em;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  color: #2d2d29;
  text-shadow: none;
}

/* line 46 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.content {
  background-color: rgba(255,255,250,0.8);
  z-index: 2;
}

/* line 51 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.bar-tab {
  background: #fffffa;
  border: none;
}

/* line 55 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.count-main {
  background: none;
  background-color: #fa7c07;
}

/* line 59 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.tab-item {
  border-top: solid 1px #d7d7d3;
  position: relative;
}

/* line 63 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.tab-item a {
  color: #2d2d29;
}

/* line 66 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.tab-item.active {
  box-shadow: none;
  border-top-color: #fa7c07;
  border-top-style: solid;
}

/* line 71 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.tab-item.active a {
  color: #fa7c07;
}

/* line 74 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.tab-icon {
  font-size: 2em;
}

/* line 77 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
[class*='choice-'] {
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
}

/* line 82 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
[class*='choice-'] a {
  color: #fffffa;
}

/* line 84 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
[class*='choice-'] strong {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 90 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.choice-negative {
  background-color: #2d2d29;
  color: #fffffa;
}

/* line 94 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.choice-positive {
  background-color: #fa7c07;
  color: #fffffa;
  left: 50%;
}

/* line 99 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
#via-social {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 103 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
#via-social [class*='icon'] {
  font-size: 1em;
}

/* line 106 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
#via-social a {
  border-bottom: solid 1px #fa7c07;
}

/* line 109 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
#via-social #via-fb {
  color: #3b5998;
  border-bottom-color: #3b5998;
}

/* line 113 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
#via-social #via-tw {
  color: #0094c2;
  border-bottom-color: #0094c2;
}

/* line 117 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
#via-or {
  text-transform: uppercase;
  color: #707066;
  font-size: 0.8em;
}

/* line 122 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */

/* line 123 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
.onboarding [class*='choice-'] {
  font-weight: bold;
}

/* line 126 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_theme.styl */
#craving {
  text-align: center;
}
