
/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/main.styl */
@import "font-awesome.css";

/* line 2 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/main.styl */
@import "ratchet.css";

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_var.styl */

/* line 8 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */

/* line 2 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */
.tab-item a {
  display: block;
  height: 100%;
  color: #fffffa;
}

/* line 7 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */
.tab-icon {
  position: static !important;
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: 2em;
}

/* line 14 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */

/* line 15 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */
.input-row label {
  width: 50%;
}

/* line 18 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_override.styl */
.input-row label + input {
  width: 40%;
}

/* line 20 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */

/* line 1 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: text;
}

/* line 8 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova", "helvetica neue", Arial, sans-serif;
  opacity: 0;
}

/* line 15 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */

/* line 16 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
.wf-active body,
.wf-inactive body {
  -webkit-transition: opacity 0.3s linear;
  opacity: 1;
}

/* line 20 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

/* line 23 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */

/* line 24 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
.content-padded h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 28 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */

/* line 29 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
#signup h1 {
  margin: 0 0 0.2em;
  font-size: 2em;
  text-align: center;
}

/* line 34 : /Users/tnguyen/Dropbox/projects/spyre/app/stylus/_base.styl */
#via-or {
  margin: 1em auto;
}
